{% extends "layout.html" %}
{% block body %}
<h1>Grocery list</h1>
<table class="groceryItems">
<colgroup>
    <col style="width: auto">
    <col style="width: 200px">
    <col style="width: 50px">
</colgroup>
<thead>
    <tr>
        <th>Product</th>
        <th>Cost</th>
        <th></th>
    </tr>
</thead>
<tbody>
{% for item in groceryItems %}
    <tr>
        <td>{{ item.Name }}</td>
        <td>
            {% if item.Cost %}
            &euro; {{ item.Cost / 100 }}.{% if item.Cost % 100 < 10 %}0{% endif %}{{ item.Cost % 100 }}
            {% else %}
            &euro;&nbsp;<input class="itemPrice" data-id="{{ item.ID }}" type="number" min="0" step="0.01" placeholder="2.49">
            <input class="itemConfirm" data-id="{{ item.ID }}" type="button" value="OK">
            {% endif %}
        </td>
        <td>
            <input class="itemDelete" data-id="{{ item.ID }}" type="button" value="X">
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td><input type="text" class="itemAddInput" placeholder="New item"></td>
        <td></td>
        <td><input type="button" class="itemAddButton" value="+"></td>
    </tr>
</tbody>
</table>

<h1>Payments due</h1>
<h2>You to roommates</h2>
{% if !dueItems %}
Nothing here!
{% else %}
<table>
<thead>
    <tr>
        <th>Product</th>
        <th>Due</th>
        <th>To</th>
        <th></th>
    </tr>
</thead>
<tbody>
    {% for item in dueItems %}
    <tr>
        <td>{{ item.Name }}</td>
        <td>&euro;{{ item.Split / 100 }}.{% if item.Split % 100 < 10 %}0{% endif %}{{ item.Split % 100 }}</td>
        <td>{{ item.User.Name }}</td>
        <td><input type="button" class="dueItemDone" data-id="{{ item.ID }}" value="Done"></td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endif %}

<h2>Roommates to you</h2>
{% if !dueRxItems %}
Nothing here!
{% else %}
<table>
<thead>
    <tr>
        <th>Product</th>
        <th>To receive</th>
        <th>People</th>
    </tr>
</thead>
<tbody>
    {% for item in dueRxItems %}
    <tr>
        <td>{{ item.Name }}</td>
        <td>{{ item.DueUsers|length }}x &euro;{{ item.Split / 100 }}.{% if item.Split % 100 < 10 %}0{% endif %}{{ item.Split % 100 }}</td>
        <td>
            {% for user in item.DueUsers %}
            {{ user.Name }}{% if (forloop.Counter < item.DueUsers|length) %},{% endif %}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endif %}

<h1>Your room</h1>
<b>{{ room.Name }}</b>
<p>
    {% for user in room.Users %}
    {{ user.Name }}{% if forloop.Counter < room.Users|length %},{% endif %}
    {% endfor %}
</p>
<p>
    <form action="POST">
        <input type="hidden" name="action" value="leaveRoom">
        <input type="submit" onclick="return confirm('Are you sure you want to leave this room?')" value="Leave room">
    </form>
</p>
{% endblock body %}

{% block scripts %}
<script>
    $('.itemConfirm').on('click', function() {
        let id = parseInt($(this).data('id'))
        let input = $('.itemPrice[data-id=' + id + ']')
        let cost = parseInt(input.val() * 100);
        $.ajax({
            url: '/api/item/' + id + '/cost',
            method: 'POST', 
            data: { 'cost': cost },
            success: () => location.reload()
        })
    });

    $('.itemDelete').on('click', function() {
        let id = parseInt($(this).data('id'))
        $.ajax({
            url: '/api/item/' + id,
            method: 'DELETE',
            success: () => location.reload()
        })
    });

    $('.itemAddButton').on('click', function() {
        let id = parseInt($(this).data('id'))
        let name = $('.itemAddInput').val()
        $.ajax({
            url: '/api/item',
            method: 'PUT',
            data: { 'name': name },
            success: () => location.reload()
        })
    });

    $('.dueItemDone').on('click', function() {
        let id = parseInt($(this).data('id'))
        $.ajax({
            url: '/api/item/' + id + '/paid',
            method: 'PUT',
            success: () => location.reload()
        })
    })
</script>
{% endblock scripts %}