<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>
        <nav>
            <div class="logo"><a href="/">spoon</a></div>
            <div class="navbar">
                <a href="/register">Sign up</a>
                <a href="/login">Log in</a>
            </div>
        </nav>

        {% block body %}
        {% endblock %}

        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>
